*.log
*~
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

/.env
/vendor
/hcswp/*
!/hcswp/google*.html
!/hcswp/wp-content
/hcswp/wp-content/*
!/hcswp/wp-content/themes
/hcswp/wp-content/themes/*
!/hcswp/wp-content/themes/highchem20

/contact/*
!/contact/index.html
!/contact/index.php
/contact/form/*
!/contact/form/
!/contact/form/thanks/
!/contact/form/mailformpro/ 
/contact/form/mailformpro/*
!/contact/form/mailformpro/config*
/contact/form/mailformpro/configs/
!/contact/form/mfp.statics/ 
/contact/form/mfp.statics/*
!/contact/form/mfp.statics/mailformpro.css

